* {
  font-family: "Futura PT", sans-serif;
}

@font-face {
  font-family: "FuturaPTBoldObl";
  src: url("../fonts/FuturaPTBoldObl/FuturaPTBoldObl.eot");
  src: url("../fonts/FuturaPTBoldObl/FuturaPTBoldObl.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPTBoldObl/FuturaPTBoldObl.woff") format("woff"), url("../fonts/FuturaPTBoldObl/FuturaPTBoldObl.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
h1 {
  margin-top: 0;
  padding-top: 7rem;
  color: #ffffff;
  text-align: center;
  font-size: 4rem;
  font-family: Futura PT;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

h3 {
  color: #ffffff;
  font-family: 100;
  text-align: center;
  margin-inline: auto;
  left: 0;
  right: 0;
  bottom: 15px;
  position: absolute;
  z-index: 5;
}

p {
  color: #ffffff;
  text-align: center;
  font-size: 1.2rem;
  width: 70%;
  margin: 1rem auto;
  font-family: Futura PT;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

#section0 {
  overflow: hidden;
  padding: 0;
  padding-bottom: 6rem;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  align-items: center;
  text-align: center;
  justify-content: center;
}
#section0 button {
  margin: 1rem 1rem 3rem;
  padding: 0.6rem 1.8rem;
  color: #192061;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: normal;
  text-transform: capitalize;
  border: none;
  border-radius: 15px;
}
#section0 .MainB {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.5);
}
#section0 .feturesBar img {
  max-width: 10rem;
  padding: 1rem 1.9rem;
}

#section1 {
  background-color: rgba(0, 0, 0, 0.2509803922);
  padding-top: 2rem;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  align-items: center;
  text-align: center;
  justify-content: center;
  overflow: hidden;
  padding-bottom: 5rem;
}
#section1 h2 {
  color: #ffffff;
  font-weight: 100;
  text-transform: capitalize;
  padding: 3rem 0 0rem;
  margin-left: 1rem;
  font-size: 3rem;
}
#section1 h2 span {
  font-weight: bold;
}
#section1 p {
  color: #ffffff;
  opacity: 50%;
  font-weight: 100;
  font-size: 1.5rem;
}
#section1 p span {
  font-weight: bold;
}
#section1 .container {
  max-width: 95%;
  display: flex;
  margin-inline: auto;
  padding-top: 3rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
#section1 .container h2 {
  text-align: left;
  font-size: 1.6rem;
  padding: 0;
}
#section1 .container p {
  text-align: left;
  margin-top: 0;
  margin-left: 1rem;
  font-size: 1rem;
  font-weight: 100;
}
#section1 .container .block {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: 25rem;
  justify-content: space-between;
}
#section1 .container .block img {
  max-width: 5rem;
}

h3 {
  color: #ffffff;
  font-family: 100;
  text-align: center;
  margin-inline: auto;
  left: 0;
  right: 0;
  bottom: 15px;
  position: absolute;
  z-index: 5;
}

#section2 {
  overflow-x: hidden;
  margin: 4rem auto;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
}
#section2 .container {
  flex-wrap: wrap;
}
#section2 .container .block:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.3137254902);
  margin: 3rem auto;
  padding: 8rem 0;
  justify-content: space-between;
  flex-wrap: wrap;
}
#section2 .container .block:nth-child(even) .spacing {
  flex-direction: row-reverse;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin-inline: auto;
}
#section2 .container .block {
  display: flex;
  flex-wrap: wrap;
  padding: 1.5rem 0;
  margin: 2rem auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#section2 .container .block .text {
  width: 40%;
  align-items: left;
}
#section2 .container .block .text p {
  font-weight: 300;
  text-align: left;
  margin: 0;
  margin-top: 0.5rem;
  opacity: 50%;
  text-transform: lowercase;
}
#section2 .container .block .text h2 {
  font-size: 2rem;
  text-align: left;
  color: #ffffff;
}

body {
  background: linear-gradient(135deg, #20296E 0%, #05063B 100%);
}/*# sourceMappingURL=index.css.map */